<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
	appId: 'NYODF1NV9A',
	apiKey: '02da4dca321038481f4d80a8ea623a44',
	siteId: '705c4b5f-67b4-467f-a9a8-4698701f9b08',
	branch: 'dev',
	selector: 'div#search',
  });
</script>